ms-clear, ::-ms-reveal
{
    display: none;
}

*:focus
{
    outline: none;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 20px;
}

@media only screen and (min-width: 401px)
{
    html
    {
        font-size: 25px !important;
    }
}

@media only screen and (min-width: 428px)
{
    html
    {
        font-size: 26.75px !important;
    }
}

@media only screen and (min-width: 481px)
{
    html
    {
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 569px)
{
    html
    {
        font-size: 35px !important;
    }
}

@media only screen and (min-width: 641px)
{
    html
    {
        font-size: 40px !important;
    }
}

body, button, input, select, textarea
{
    font-family: Simsun;
    font-size: 0.7rem;
}

h1
{
    font-size: 0.9rem;
}

h2
{
    font-size: 0.8rem;
}

h3
{
    font-size: 0.7rem;
}

h4, h5, h6
{
    font-size: 100%;
}

address, cite, dfn, em, var, i
{
    font-style: normal;
}

code, kbd, pre, samp, tt
{
    font-family: "Courier New", Courier, monospace;
}

small
{
    font-size: 0.6rem;
}

ul, ol
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #fff;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

    a:hover
    {
        text-decoration: none;
    }

    a:active
    {
        color: #fff;
    }

abbr[title], acronym[title]
{
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after
{
    content: '';
}

legend
{
    color: #000;
}

fieldset, img
{
    border: none;
}

button, input, select, textarea
{
    font-size: 100%;
    outline: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

hr
{
    border: none;
    height: 1px;
}

body
{
    overflow-x: hidden;
    color: #666;
    background: #fff url(../img/food.png);
    margin: 0 auto;
}

.header
{
    height: 4rem;
}

    .header > .head-nav
    {
        height: 2.25rem;
        background: #8A6DEC;
        font-size: 0;
        white-space: nowrap;
    }

        .header > .head-nav > a
        {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            padding: 0.7rem 0.635rem 0 0.635rem;
            font-weight: 700;
            height: 2.25rem;
            font-size: 0.7rem;
        }

            .header > .head-nav > a:first-child > img
            {
                width: 1.5rem;
                height: 1.75rem;
                position: relative;
                top: -0.45rem;
            }

            .header > .head-nav > a:active
            {
                background: #6641E2;
            }

    .header > .p-info
    {
        height: 1.75rem;
        background: #F7F7EF;
    }

        .header > .p-info > .recent-read
        {
            float: left;
            font-size: 0;
            white-space: nowrap;
            padding: 0.5rem 0 0 0.25rem;
        }

            .header > .p-info > .recent-read > i, .header > .p-info > .recent-read > a
            {
                display: inline-block;
                vertical-align: top;
            }

            .header > .p-info > .recent-read > i
            {
                width: 1px;
                height: 0.6rem;
                background: #7c7c7c;
                margin: 0.1rem 0.15rem 0 0.15rem;
            }

            .header > .p-info > .recent-read > a
            {
                font-size: 0.6rem;
                height: 0.6rem;
                line-height: 0.6rem;
                color: #7c7c7c;
                margin-top: 0.1rem;
            }

                .header > .p-info > .recent-read > a:last-child
                {
                    width: 6.5rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

        .header > .p-info > .login-btn
        {
            display: none;
            float: right;
            font-size: 0;
            white-space: nowrap;
            padding: 0.6rem 0.25rem 0 0;
        }

            .header > .p-info > .login-btn > a
            {
                display: inline-block;
                vertical-align: top;
                font-size: 0.6rem;
                height: 0.6rem;
                line-height: 0.6rem;
                color: #7c7c7c;
                margin-top: 0.1rem;
            }

        .header > .p-info > .login-info
        {
            /*display: none;*/
            float: right;
            font-size: 0;
            white-space: nowrap;
            padding: 0.5rem 0.25rem 0 0;
        }

            .header > .p-info > .login-info > i, .header > .p-info > .login-info > a
            {
                display: inline-block;
                vertical-align: top;
            }

            .header > .p-info > .login-info > i
            {
                width: 1px;
                height: 0.6rem;
                background: #7c7c7c;
                margin: 0.1rem 0.15rem 0 0.15rem;
            }

            .header > .p-info > .login-info > a
            {
                font-size: 0.6rem;
                height: 0.6rem;
                line-height: 0.6rem;
                color: #7c7c7c;
                margin-top: 0.1rem;
            }

.container
{
}

.foot
{
    padding: 0 0.25rem;
}

    .foot > .go-firstpage
    {
        font-size: 0;
        white-space: nowrap;
        padding: 0.5rem 0;
    }

        .foot > .go-firstpage > a
        {
            display: inline-block;
            vertical-align: top;
            font-size: 0.8rem;
            color: #666;
        }

    .foot > .app-download
    {
        font-size: 0;
        white-space: nowrap;
        padding: 0 0 0.65rem 0;
    }

        .foot > .app-download > a
        {
            display: inline-block;
            vertical-align: top;
            font-size: 0.7rem;
            color: #3CABDB;
            width: 6.75rem;
            height: 1.75rem;
            background: #fff;
            text-align: center;
            line-height: 1.75rem;
            border-radius: 3px;
            margin-right: 0.25rem;
            padding-left: 1.3rem;
            font-weight: 600;
            position: relative;
        }

            .foot > .app-download > a:active
            {
                background: #929292;
            }

            .foot > .app-download > a > img
            {
                position: absolute;
                width: 1rem;
                height: 1rem;
                top: 0.35rem;
            }

            .foot > .app-download > a > .android
            {
                left: 1rem;
            }

            .foot > .app-download > a > .ios
            {
                left: 1.25rem;
            }

    .foot > .service
    {
    }

        .foot > .service > p
        {
            font-size: 0.8rem;
            height: 0.8rem;
            line-height: 0.8rem;
            margin-bottom: 0.5rem;
        }

            .foot > .service > p.title
            {
                font-weight: bold;
            }

        .foot > .service > img
        {
            width: 5rem;
            height: 5rem;
        }

    .foot > .record-number
    {
        font-size: 0.5rem;
        color: #999;
        height: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        font-family: Arial;
        border-top: 1px solid #ccc;
    }
