.container {
    padding: 0.5rem 0 10px 0;
    color: #666;
}

.container > .book-title {
    padding-left: 0.75rem;
    font-size: 0.65rem;
}

.container > .book-title > a {
    display: inline-block;
    position: relative;
    color: #666;
    white-space: nowrap;
    padding: 0 0.15rem;
}

.container > .middle {
    position: relative;
    zoom: 1;
    margin: 0.75rem 0.75rem;
}

.detail > .left {
    float: left;
    padding-right: 0.8rem;
}

.detail > .left > img {
    width: 4.5rem;
    height: 6rem;
    box-shadow: 0 1px 6px 1px #BDBDBD;
}

.detail > .right > h2 {
    font-weight: 400;
    height: 3rem;
    color: #333;
}

.detail > .right > .bottom {
    position: relative;
}

.detail > .right > .bottom > span {
    display: block;
    font-size: 0.6rem;
    color: #666;
    line-height: 1rem;
}

.detail > .right > .bottom > span:first-child > a {
    color: #666;
}

.detail > .right > .bottom > .loading {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFCC00;
    padding: 0 3px;
    color: #fff;
}

.detail > .btn {
    margin-top: 0.75rem;
}

.detail > .btn > a {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    width: 47%;
    text-align: center;
    font-size: 0.7rem;
}

.detail > .btn > a:first-child {
    color: #fff;
    background-color: #3CABDB;
}

.detail > .btn > a:last-child {
    color: #999;
    background-color: #FFF;
    margin-left: 0.5rem;
}

.info-box > .info {
    position: relative;
    zoom: 1;
    text-indent: 1.4rem;
    font-size: 0.7rem;
    line-height: 1.1rem;
}

.container > .book-update {
    position: relative;
    height: 2.3rem;
    line-height: 1.15rem;
}

.container > .book-update > .new-time {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.container > .book-update > .new-time > b {
    font-weight: bold;
    font-size: 0.8rem;
}

.container > .book-update > .new-time > span {
    position: absolute;
    right: 0;
    font-size: 0.6rem;
    font-family: Arial;
    color: #999;
}

.container > .book-update > .next-page > a {
    font-size: 0.7rem;
    color: #3CABDB;
}

.book-more > .box {
    margin-top: 0.5rem;
}

.book-more > .box > a {
    display: block;
    padding: 0.3rem 0;
    font-size: 0.6rem;
    border-radius: 5px;
    text-align: center;
    color: #3CABDB;
    background: #eee;
}

.container > .recent-read {
    margin: 0 0.75rem 0.75rem;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    border: 1px solid #ececec;
}

.recent-read > .head {
    border-bottom: 1px solid #dbdbdb;
    padding: 0.5rem;
}

.recent-read > .head > a {
    float: right;
    color: #f079b9;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.recent-read > .head > h4 {
    font-weight: 400;
    font-size: 0.875rem;
    color: #996600;
}

.recent-read > .foot {
    position: relative;
    zoom: 1;
    padding: 0.5rem;
}

.recent-read > .foot {
    position: relative;
    zoom: 1;
    padding: 0.5rem;
}

.recent-read > .foot > .donate-counts {
    margin-bottom: 0.75rem;
}

.recent-read > .foot > .donate-counts > .donate-box {
    float: left;

    text-align: center;
    color: #999;
    padding: 0.5rem 0 0.5rem 0.25rem;
    width: 16%;
}

.donate-box > p {
    line-height: 0.7rem;
    font-size: 0.6rem;
}

.donate-box > .img > img {
    width: 1.2rem;
    height: 1.2rem;
}

.donate-box > .number {
    color: #3CABDB;
}

.recent-read > .foot > ul > volist > li {
    margin-bottom: 0.25rem;
    padding: 3px 0;
    color: #666;
    border-bottom: 1px dotted #DADADA;
    font-size: 0;
    line-height: 0;
}

.recent-read > .foot > ul > volist > li:last-child {
    border-bottom: 0;
}

.recent-read > .foot > ul > volist > li > .name {
    display: inline-block;
    vertical-align: top;
    max-width: 50%;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.recent-read > .foot > ul > volist > li > img {
    width: 0.8rem;
    height: 0.8rem;
}

.recent-read > .foot > ul > volist > li > .by {
    font-size: 0.6rem;
    color: #999;
}

.recent-read > .foot > ul > volist > li > .count {
    font-size: 0.7rem;
    color: #3CABDB;
}