.container
{
    padding: 0.5rem;
}

    .container > .cut-info
    {
        font-size: 0.8rem;
    }

        .container > .cut-info > span
        {
            color: #FD8D00;
            margin-right: 0.15rem;
            font-family: Arial;
            font-size: 0.8rem;
        }

    .container > .warn
    {
        background: #CBEFFF;
        padding: 0.25rem 0.1rem;
        border-top: 1px solid #A9D5E8;
        border-left: 1px solid #A9D5E8;
        margin-top: 0.25rem;
        color: #3CAADB;
        font-size: 0.7rem;
    }

        .container > .warn > .website
        {
            color: #A56600;
            font-weight: bold;
        }

        .container > .warn > .copy
        {
            color: #fff;
            background: #FD8D25;
            border-radius: 0.2rem;
            padding: 0.1rem;
            margin-left: 0.5rem;
        }

    .container > .recharge-mdl
    {
        border: 1px solid #eee;
        border-radius: 0.2rem;
        background: #fff;
        margin-top: 0.5rem;
    }

        .container > .recharge-mdl > .rec-title
        {
            padding: 0.5rem;
            border-bottom: 1px solid #ddd;
        }

            .container > .recharge-mdl > .rec-title > p:first-child
            {
                font-weight: 600;
                color: #333;
                font-size: 0.85rem;
                font-family: 'Microsoft YaHei';
                height: 0.85rem;
                line-height: 0.85rem;
            }

            .container > .recharge-mdl > .rec-title > p:last-child
            {
                font-weight: 600;
                color: #FD8D00;
                font-size: 0.6rem;
                height: 0.6rem;
                line-height: 0.6rem;
                margin-top: 0.35rem;
            }

        .container > .recharge-mdl > .rec-money
        {
            font-size: 0;
        }

.recharge-mdl > .rec-money
{
    padding: 0.5rem 0.5rem 0 0.5rem;
}

    .recharge-mdl > .rec-money > div
    {
        display: inline-block;
        vertical-align: top;
        height: 0.75rem;
        line-height: 0.75rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }

        .recharge-mdl > .rec-money > div.on > i
        {
            background: #FD8D00;
            border: none;
            color:#fff;
        }
            .recharge-mdl > .rec-money > div.on > i:after
            {
                content:"\e472";
            }
        .recharge-mdl > .rec-money > div.on > span
        {
            color: #FD8D00;
        }

        .recharge-mdl > .rec-money > div > i, .recharge-mdl > .rec-money > div > span
        {
            display: inline-block;
            vertical-align: top;
            font-size: 0.75rem;
        }

        .recharge-mdl > .rec-money > div > i
        {
            width: 0.7rem;
            height: 0.7rem;
            line-height:0.7rem;
            border: 1px solid #ccc;
            border-radius: 0.7rem;
            text-align:center;
            font-size:0.7rem;
        }
        .recharge-mdl > .rec-money > div > span
        {
            
            font-family: Arial;
        }
.rec-money > div > span
{
    margin-left: 0.3rem;
}

.container > .recharge-mdl > .next
{
    padding: 0 0.5rem 0.5rem 0.5rem;
}

    .container > .recharge-mdl > .next > a
    {
        width: 3.5rem;
        background: #36abdc;
        color: #fff;
        height: 1.4rem;
        line-height: 1.4rem;
        font-size: 0.6rem;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border-radius: 3px;
    }

        .container > .recharge-mdl > .next > a:active
        {
            background: #6bafff;
        }

.container > .recharge-mdl > .ext-note
{
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 0.6rem;
    color: #999;
    font-family: Arial;
}

    .container > .recharge-mdl > .ext-note > span
    {
        color: #FD8D00;
        font-weight: 600;
    }
