.container > .buy-title {
    padding: 0 0.75rem;
    font-size: 0.95rem;
    font-weight: 400;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}
.container > .buy-class {
    border-radius: 0.25rem;
    border: 1px solid #ececec;
    background: rgba(255, 255, 255, 0.8);
    margin: 0.4rem 0.7rem 0.7rem 0.75rem;
}

.buy-class > .work-list {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.buy-class > .work-list > p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    height:0.9rem;
    line-height:0.9rem;
}

.buy-class > .work-list > p > i {
    color:#FD8D00;
}

.container > .buy-class > .class-title {
    padding: 0.5rem;
    font-size: 0.9rem;
    border-bottom: 1px solid #dbdbdb;
    font-weight: 400;
    color:#8F7013;
}
