.container
{
}

    .container > .book-img
    {
        display: block;
        margin: 0.75rem;
    }

        .container > .book-img > img
        {
            height: 3.5rem;
            width: 100%;
            border-radius: 0.25rem;
            max-width: 480px;
            display: block;
            margin: 0 auto;
        }

    .container > .search-bar > .search-item
    {
        font-size: 0;
        white-space: nowrap;
        padding: 0 0.25rem;
        position: relative;
        height: 1.4rem;
        line-height: 1.4rem;
    }

.search-bar > .search-item > input
{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.6rem;
}

.search-bar > .search-item > .search-input
{
    position: absolute;
    top: 0;
    left: 0.75rem;
    right: 4.5rem;
}

.search-bar > .search-item > .search-input > input
{
    padding: 0.25rem;
    width:100%;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.6rem;
}

.search-bar > .search-item > input.search-btn
{
    position: absolute;
    top: 0;
    right: 0.75rem;
    text-align: center;
    width: 3.5rem;
    background: #36abdc;
    color: #fff;
    border: none;
}

    .search-bar > .search-item > input.search-btn:active
    {
        background: #6bace4;
    }
